body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(55, 30, 78);
}

nav a {
    display: block;
    padding: 10px;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(166, 196, 197);
    background-color: white;
}

header {
    background-color: rgb(181, 152, 211);
    text-align: center;
}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 3px rgb(40, 40, 40, 0.5);
    width: 250px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}

@media ONLY screen AND (max-width: 600px) {
    body {
        background-color: darkgrey;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 15px;
    }

    .feature {
        order: -1;
    }
}

@media ONLY screen AND (max-width: 450px) {
    nav {
        flex-direction: column;
    }

    nav a {
        border-radius: 0;
        border-bottom: thin solid white;
        color: black;
    }
}